In [1]:
#program to demonstrate different types of data type:

a=10
b=15.5
c=2.05j

print(type(a))
print((type(b)))
type(c)

<class 'int'>
<class 'float'>

complex

In [2]:
#diiferent arithmetic operations

a=45
b=5

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)

50
40
225
9.0
9
0

In [1]:
''' WAP to create, concatenate and print a string and accessing sub-string from a given string'''

s1=input("Enter first string")
s2=input("enter second string")

print("First string is : ",s1)
print("Second string is : ",s2)
print("concatenation of two strings : ",s1+s2)
print("Substring of given string : ",s1[1:4])

Enter first stringAmitVerma
enter second stringDevanadKushwaha
First string is :  AmitVerma
Second string is :  DevanadKushwaha
concatenation of two strings :  AmitVermaDevanadKushwaha
Substring of given string :  mit

In [5]:
#To print current date and time
import time
ltime=time.localtime()
print(ltime)

time.struct_time(tm_year=2023, tm_mon=10, tm_mday=8, tm_hour=21, tm_min=53, tm_sec=26, tm_wday=6, tm_yday=281, tm_isdst=0)

In [6]:
#Program to create, append and remove list in python

my_list = [] #empty list

my_list = [1,2,3] #list of integer

my_list = [1, "Hello", 3.4] #list with mix data type

my_list = ["mouse", [9,7,9],['a']] # nested list

In [8]:
#Appending and extending list in python
add = [1,3,5]
add.append(7)
print(add)

add.extend([9,11,24])
print(add)

[1, 3, 5, 7]
[1, 3, 5, 7, 9, 11, 24]

In [12]:
#delete and remove list items

my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']

#delete one item
del my_list[2]
print(my_list)

del my_list[1:4] # delete multiple elements
print(my_list)

del my_list
print(my_list)

['p', 'r', 'b', 'l', 'e', 'm']
['p', 'e', 'm']

NameError: name 'my_list' is not defined

In [16]:
#Program to demonstrate working with tuples in python

my_tuple = () # empty tuple
print(my_tuple)

my_tuple = (2,4,5,6,7) # tuple with integer
print(my_tuple)

my_tuple = (1, "Hello", 3.4) #tuple with mixed data type
print(my_tuple)

my_tuple = (1, "hello", (1,3,4)) #nested tuple
print(my_tuple)

()
(2, 4, 5, 6, 7)
(1, 'Hello', 3.4)
(1, 'hello', (1, 3, 4))

In [18]:
my_tuple = 3, 4.6, "dog"
print(my_tuple)

# tuple unpacking is also possible
a, b, c = my_tuple

print(a) # 3
print(b) # 4.6
print(c) #dog

(3, 4.6, 'dog')
3
4.6
dog

In [20]:
my_tuple = ("hello")
print(type(my_tuple)) #<class 'str'>

my_tuple =("hello",)
print(type(my_tuple)) #<class 'tuple'>

my_tuple = "hello",
print(type(my_tuple)) #<class 'tuple'>

<class 'str'>
<class 'tuple'>
<class 'tuple'>

In [23]:
#Program to demonstrate working with dictionaries in python

my_dict = {} #empty dictionary
print(my_dict)

my_dict = {1: 'apple', 2: 'ball'} #dictionary with integer key
print(my_dict)

my_dict = {'name': 'Amit', 1: [1,2,3]} #dictionary with mixed key
print(my_dict)

my_dict = {1: 'apple', 2: 'ball'} #using dict

my_dict = dict([(1,'apple'), (2,'ball')]) #from sequence each item as pair

{}
{1: 'apple', 2: 'ball'}
{'name': 'Amit', 1: [1, 2, 3]}

In [33]:
#Accessing element of a dictionary

my_dict = {'name': 'Jack', 'age': 23} #get vs [] for retrieving elements

print(my_dict['name']) #output Jack

print(my_dict.get('age')) #output 23

print(my_dict.keys())

print(my_dict.values())

Jack
23
dict_keys(['name', 'age'])
dict_values(['Jack', 23])

In [34]:
#find larget of three numbers

num1 = 23
num2 = 234
num3 = 34

if (num1 >= num2) and (num2 >= num3):
    print("num1 is greater")
elif(num2>num3):
    print("num2 is greater")
else:
    print("num3 is greater")

num2 is greater

In [4]:
num1 = int(input())
operation = input()
num2 = int(input())

# operation = input()

match operation:
    case '+' :
        print(num1+num2)
    case '-' :
        print(num1-num2)
    case '*' :
        print(num1*num2)
    case '//' :
        print(num1 // num2)
    case '%' :
        print(num1%num2)
    case '_' :
        print("default value")

15
56
12

In [8]:
# Program to convert temperature to celsius, Fahrenheit

temp = float(input("Enter temperature : "))
unit = input("Enter unit('C' for Celsius or 'F' for Fahrenheit): ")

if unit == 'C' or unit == 'c' :
    newTemp = 9/5 * temp + 32
    print("Temperature in Fahrenheiet =", newTemp)
elif unit == 'F' or unit == 'f' :
    newTemp = 5/9 * (temp-32)
    print("Temperature in Celsius =", newTemp)
else :
    print("Unknow unit", unit)

Enter temperature : 45
Enter unit('C' for Celsius or 'F' for Fahrenheit): F
Temperature in Celsius = 7.222222222222222

In [9]:
n=5;
for i in range(n):
    for j in range(i):
        print('* ', end ="")
    print('')
    
    
for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [1]:
#python script that print prime number less than 100

lower = int(input("Enter lower range: "))
upper = int(input("Enter upper range: "))

for num in range(lower,upper+1):
    if num > 1:
        for i in range(2,num):
            if(num % i) == 0:
                break
            else:
                print(num)

Enter lower range: 5
Enter upper range: 15
5
5
5
7
7
7
7
7
9
11
11
11
11
11
11
11
11
11
13
13
13
13
13
13
13
13
13
13
13
15

In [2]:
#Find factorial uisng recursion

def recur_factorial(n):
    if(n==1):
        return n
    else:
        return n*recur_factorial(n-1)
    
num = int(input("Enter number :"))

if num < 0:
    print("Factorial does not exist for negative number")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    print("The factorial of",num,"is ",recur_factorial(num))

Enter number :5
The factorial of 5 is  120

In [8]:
def find_factorial(num):
    if(num == 1):
        return num
    else:
        return num * recur_factorial(num-1)
    
number = int(input())

if number < 0:
    print("Factorial doesn't exist for negative number")
elif number == 0:
    print("Factorial is 1")
else:
    print("The factorial of the number is ",find_factorial(number))

5
The factorial of the number is  120

In [10]:
#Write a python program to define a module to find Fibonacci Numbers and import the module to another program

def fib(n):
    a, b = 0, 1
    while b < n:
        print(b, end=' ')
        a, b = b, a+b
    print()

def fib2(n):
    result = []
    a, b = 0, 1
    while b < n:
        result.append(b)
        a, b = b, a+b
    return result

In [11]:
import fibonacci
print(fibonacci.fib(3))

ModuleNotFoundError: No module named 'fibonacci'

In [2]:
def odd_even(lst):
    even_sum = 0
    odd_sum = 0
    for i in lst:
        if i%2 == 0:
            even_sum += i
        else:
            odd_sum += 0
    return even_sum, odd_sum

sum1,sum2 = odd_even([1,2,34,45,56,78,9,123,125])
print(sum1,sum2)

170 0

In [6]:
class Car:
    def __init__(self,windows,tyres,seat):
        self.windows = windows
        self.tyres = tyres
        self.seat = seat
    
    def driving(self):
        print("Car is used for driving")
        
class Audi(Car):
    def __init__(self,windows,tyres,seat,engine):
        super().__init__(windows,tyres,seat)
        self.engine = engine
        
car1 = Audi(4,4,2,"Petrol")
print(car1.windows)
car1.driving()

4
Car is used for driving

In [10]:
#Python class to reverse a string word by word

class Reverse:
    def reverse_word(self,str):
        return ' '.join(reversed(str.split()))
    print(Reverse().reverse_word('Welcome to Python'))

NameError: name 'Reverse' is not defined

In [11]:
#Program to check the given number is prime or not 

num = 13
 #if the number is greater than 1
if num > 1:
     
        # Iterate from 2 to n / 2
        for i in range(2,int(num/2)+1):
            
            #If num is divisible by any number between 2 and n/2, it is not prime
            if(num % i) == 0:
                print(num, "is not a prime number")
                break
        else:
            print(num," is prime number")
else:
    print(num, "is not prime number")

13  is prime number

In [13]:
#Find area of circle

def find_area(r):
    PI = 3.14
    return PI * (r*r)

# print('Area is % ', find_area(5))
find_area(7)

153.86

In [1]:
#Python class implement pow(x,n)

def power(x, y):
    
    if (y == 0 ):
        return 1
    elif (int(y % 2) == 0):
        return (power(x, int(y/2)) * power(x, int(y/2)))
    else:
        return (x * power(x, int(y/2)) * power(x, int(y/2)))
    
x = 2
y = 3
print(power(x,y))

8

In [4]:
#WAP to cube of first n natural number

def sumOfSeries(n):
    sum = 0
    i = 1
    for i in range(i, n+1):
        
        sum += i*i*i
        
    return sum

n = 5
print(sumOfSeries(n))

225

In [5]:
def fact(n):
    if n == 0:
        return 1
    else:
        return n * fact(n-1)
    
num = 5

if num == 1:
    print("Factorial is 1")
elif num < 1:
    print("Not factorial for negative number")
else:
    print("Factorial of 5 is", fact(num))

Factorial of 5 is 120

In [6]:
# Remove multiple element from list

list1 = [11, 5, 17, 18, 14, 58]

for ele in list1:
    if ele % 2 == 0:
        list1.remove(ele)

print(list1)

[11, 5, 17, 14]

In [12]:
class Car:
    def __init__(self, windows, tyres, engine):
        self.windows = windows
        self.tyres = tyres
        self.engine = engine
    
    def define(self):
        print("Car is used for driving...")

class Audi(Car):
    def __init__(self, windows, tyres, engine, horsepower):
        super().__init__(windows, tyres, engine)
        self.horsepower = horsepower
        
    def driving(self):
        print("It is self driving car")
        
audiq7 = Audi(4,4,"Petrol","740")

print(audiq7.windows)
print(audiq7.tyres)
print(audiq7.engine)
print(audiq7.horsepower)

audiq7.define()

4
4
Petrol
740
Car is used for driving...

In [15]:
f = lambda x,y:x+y
f(5,6)
f(5,7)

12

In [17]:
def odd_even(num):
    if(num% 2) == 0:
        print("Even number")
    else:
        print("Odd number")
        
n = 6
odd_even(n)

Even number

In [20]:
# Polymorphism

class Rabbit ():
    
    def age(self):
        print("determine age of rabbit")
    def color(self):
        print("determine color of rabbit")

class Horse ():
    
    def age(self):
        print("determine age of horse")
    def color(self):
        print("determine color of horse")

obj1 = Rabbit()
obj2 = Horse()
for type in (obj1, obj2):
    type.age()
    type.color()

determine age of rabbit
determine color of rabbit
determine age of horse
determine color of horse

In [3]:
#Program to print positive number of list

list1 = [12,15,17,-16,0,-234,1234]

for i in list1:
    
    if i >= 0:
        print(i, end = " ")

12 15 17 0 1234